<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PC Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45311DD41D77CEDC00B8E34F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45311DF01D77CEDD00B8E34F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45311DFB1D77CEDD00B8E34F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
