<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>西邮快传1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1AF7991C5777A300B680FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1AF7B21C5777A300B680FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1AF7BD1C5777A300B680FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
